---
import { Container, FeatureCard } from '@odyssey-theme/components';
import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import NewsletterForm from '../components/forms/NewsletterForm.astro';
---

<Layout>
	<HomeHeroSection />
	<Container>         
		<section class="feature-card__section">
			<h2>Upcoming Events</h2>
			<p>
				Facilitating community involvment through education, events, and mentorship in the blockchain space.
				Guided by DefiOurs mission of economic empowerment through technology, practitioners will be
				empowered to bring diverse projects to the market.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/upcoming-events/events/first-event" imgSrc="/assets/images/event2.png"
					title="Event 1" />
				<FeatureCard href="/upcoming-events/events/second-event" imgSrc="/assets/images/event1.png"
					title="Event 2" />
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2>News</h2>
			<p>Get the latest news and updates here on our blog.</p>
			<div class="feature-card__grid">
				<FeatureCard href="/theme/get-started" imgSrc="/assets/images/home/screenshots/get-started.png" title="Get Started" />
				<FeatureCard href="/theme/style-guide" imgSrc="/assets/images/home/screenshots/style-guide.png"
					title="Style Guide" />
			</div>
		</section>
	</Container>

	<Container>
		<h1>Sign Up for Our Newsletter!</h1>
		<NewsletterForm />
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}

	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}

	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>