---
import { parse, isBefore } from 'date-fns';
import {
	Container,
	TextCardSection,
    Button,
} from '@odyssey-theme/components';
import Layout from '../../layouts/Page.astro';
import EventList from '../../components/events/EventList.astro';

const events = await Astro.glob('./events/*.md').then(events =>
	events
		.map(({ frontmatter, url }) => ({
			title: frontmatter.title,
			description: frontmatter.description,
			publishDate: parse(frontmatter.publishDate, 'MMMM d, yyyy', new Date()),
			featuredImage: frontmatter.featuredImage,
			excerpt: frontmatter.excerpt,
			href: url,
		}))
		.sort((a, b) => {
			if (isBefore(a.publishDate, b.publishDate)) return 1;
			if (isBefore(b.publishDate, a.publishDate)) return -1;
			return 0;
		})
);

const seo = {
	title: 'Upcoming Events | DeFiOurs',
	description: 'DeFiOurs Upcoming Events - get your tickets!',
};
---

<Layout {seo}>
	<Container class="event-card">
		<TextCardSection>
			<h1>Upcoming Events</h1>
            <img src="assets/images/bigevent.png" class="main-event__card" alt="big concert event" />
			<p>
				Facilitating community involvment through education, events, and mentorship in the blockchain space.
				Guided by DefiOurs mission of economic empowerment through technology, practitioners will be
				empowered to bring diverse projects to the market.
			</p>
			<div class="hero-btns__container">
				<Button href="/nft-ticket" materialIcon="chevron_right">Get Tickets</Button>
				<Button href="/upcoming-events/events/first-event" unelevated>Go to Event</Button>
			</div>
		</TextCardSection>
    </Container>
    <Container>
		<section class="upcoming-events-list__section">
			<h2>More Events</h2>
			<EventList events={events} />
		</section>
	</Container>
</Layout>

<style>


<style>
    .event-card {
        display: flex;
        
        align-items: center;
        justify-content: center;
    }
	.upcoming-events-list__section {
		margin: var(--section-margin) auto;
	}

    .main-event__card {
        margin: 0 auto 1rem auto;
        border-radius: var(--theme-shape-radius);
    }

    .hero-btns__container {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.hero-btns__container {
		margin-right: 1rem;
	}
</style>
