---
import {
	Container,
} from '@odyssey-theme/components';
import Layout from '../../layouts/Page.astro';
---

<Layout>
	<Container>
		<h1 class="hero-header">This page is currently under development</h1>
    </Container>
</Layout>

<style>
    .hero-header {
        font-size: 4rem;
    }
</style>