---
import { TextSection } from '@odyssey-theme/components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
  title: 'About | DeFi Ours',
  description: 'Learn more about DeFi Ours',
};
---

<Layout {seo}>
  <HeroSection>
    <div slot="text-container">
      <h1>About DeFi Ours</h1>
      <p>
        Heirloom craft beer messenger bag kogi blue bottle pickled umami art party sriracha flexitarian authentic palo
        santo. Banh mi franzen put a bird on it, semiotics gochujang food truck tote bag humblebrag wolf bespoke.
        Gochujang direct trade drinking vinegar plaid, yr hot chicken normcore. YOLO try-hard four dollar toast kale
        chips. Authentic cliche man braid pinterest keffiyeh.
      </p>
    </div>
    <picture slot="image-container">
      <img src="/assets/images/home/classic-hero.jpg" alt="Astro Odyssee" id="home-hero-image" />
    </picture>
  </HeroSection>
  <TextSection narrow>
    <p>
      Jean shorts mustache photo booth YOLO sustainable cold-pressed, air plant pickled locavore viral. Hot chicken
      disrupt thundercats everyday carry venmo. Distillery semiotics humblebrag shoreditch blue bottle glossier brunch
      pug chambray. Freegan polaroid food truck banjo scenester taxidermy chambray celiac tacos offal cray pug. Irony
      disrupt flexitarian synth, leggings quinoa mumblecore chartreuse lyft. Viral glossier blue bottle chambray tilde
      mustache. Tacos keffiyeh hot chicken ramps yes plz skateboard, chicharrones blog.
    </p>
    <p>Prism chambray plaid intelligentsia taxidermy ethical +1 8-bit marfa bicycle rights cardigan. Kale chips narwhal
      heirloom hammock freegan tattooed. Tumblr leggings occupy cred celiac. Listicle polaroid raw denim unicorn bespoke
      migas cornhole offal authentic subway tile tumblr leggings activated charcoal chambray. Disrupt seitan semiotics
      brunch thundercats flannel. Pabst artisan vaporware coloring book tumblr tacos.</p>

    <p>
      3 wolf moon master cleanse vexillologist drinking vinegar green juice hot chicken irony 90's shabby chic tonx
      organic butcher taiyaki kogi. Celiac leggings messenger bag hexagon. Microdosing offal photo booth man bun
      coloring book cornhole slow-carb flannel messenger bag hot chicken salvia air plant live-edge. Sartorial
      vexillologist post-ironic messenger bag stumptown artisan. Kombucha meditation readymade, mumblecore vinyl seitan
      letterpress fingerstache artisan austin photo booth post-ironic pok pok flexitarian. Offal pug cray irony shabby
      chic retro lyft fam pitchfork forage synth mixtape selvage hell of pork belly. Plaid lo-fi readymade kale chips,
      beard lomo aesthetic.
    </p>
    <p>
      Cardigan selvage put a bird on it before they sold out kinfolk +1 chia try-hard unicorn. Chia skateboard meggings
      keytar, celiac neutra tumblr. Williamsburg franzen before they sold out keytar. Man bun vegan direct trade,
      gluten-free lyft literally enamel pin.
    </p>
  </TextSection>
</Layout>